ul{
		
	
	}
	
nav{
		
	
	
	
	}
	

		

	
ul li {
		
	list-style:none;
	display: inline-block;
	line-height:100 px;
	
	
    
    }
	
ul li a{
	
	text-decoration : none;
	font-size: 20px ;
	color : gray;
	padding: 20 0 px;
	margin: 10 px ;
	
	}
	
.header{
	margin: 0;
	padding: 0;
	font-size: 30px;
	margin-top:0px;
	color: gray;
	background-color: D8D8D8 ;
	text-align : left;
	}
.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mainheader{
	font-size: 50px;
	margin-top:0px;
	color: gray;
	background-color: D8D8D8 ;
	text-align : center;
    } 
.content{

	font-size: 20px;
	color: black;
	margin-top:0px;
	background-color: D8D8D8 ;
	text-align : left;
	}

	  
.styles{
	font-family: arial;
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	text-decoration:none;  
	text-indent: 30px;
	text-transform:capitalize;
	color: fffff;
	letter-spacing:10px;
	letter-spacing:10px;
	line-height:40px;
	
    }
	
	
	.{
	margin: 0;
	padding: 0;
	}
	
